<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#API" data-toc-modified-id="API-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>API</a></span></li><li><span><a href="#UI" data-toc-modified-id="UI-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>UI</a></span></li></ul></div>

# API

In [32]:
import pandas as pd

In [33]:
filepath = '../DealMatch/targets_clean_test.xlsx'
df = pd.read_excel(filepath)

In [34]:
df.columns

Index(['deal_id', 'deal_name', 'deal_type_name', 'target_company_id',
       'target_name', 'target_description', 'target_revenue', 'target_ebitda',
       'target_ebit', 'country_name', 'region_name', 'sector_name', 'strs'],
      dtype='object')

In [35]:
df.head()

,deal_id,deal_name,deal_type_name,target_company_id,target_name,target_description,target_revenue,target_ebitda,target_ebit,country_name,region_name,sector_name,strs
0,194,1303 Sonne,OTHER,825,Sonne,•\t350MWp of solar photovoltaic project assets...,15,3,3,Germany,Bavaria,Energy,"Solarkraft, energie, photovoltaik, pv, solar, ..."

In [36]:
df['deal_id'][0]

194

In [37]:
pd.DataFrame(dict(df))

,deal_id,deal_name,deal_type_name,target_company_id,target_name,target_description,target_revenue,target_ebitda,target_ebit,country_name,region_name,sector_name,strs
0,194,1303 Sonne,OTHER,825,Sonne,•\t350MWp of solar photovoltaic project assets...,15,3,3,Germany,Bavaria,Energy,"Solarkraft, energie, photovoltaik, pv, solar, ..."

In [38]:
df.columns

Index(['deal_id', 'deal_name', 'deal_type_name', 'target_company_id',
       'target_name', 'target_description', 'target_revenue', 'target_ebitda',
       'target_ebit', 'country_name', 'region_name', 'sector_name', 'strs'],
      dtype='object')

In [16]:
for x in df.columns:
    print(f'--{x}--')
    print(df[x][0])

--deal_id--
194
--deal_name--
1303 Sonne
--deal_type_name--
OTHER
--target_company_id--
825
--target_name--
Sonne
--target_description--
•	350MWp of solar photovoltaic project assets for sale in Greece
•	Local DNI ca. 1550
•	Land leases/titles and production licenses secured, Environmental (EAL)/Connection/Construction deliverable at Closing
•	11 single project sites held by a small number of special purpose vehicles whose sole assets are the projects
•	Transaction to be structured as share sale and purchase agreement of SPVs
•	Projects delivered RTB with tariff award readiness, ready for auction participation/private PPA/merchanting
•	Transfer possible in early Q1 2021
•	Off-taker arrangements (including off-take pricing) to be concluded by and for account of purchaser
•	Seller ready to undertake local advisory services post-sale, subject to contract: EPC appointment, local authority advisory, off-take advisory etc.
•	Consideration equivalent to MWp €65,000, total consideration ca. €23m
--target_revenue--
15
--target_ebitda--
3
--target_ebit--
3
--country_name--
Germany
--region_name--
Bavaria
--sector_name--
Energy
--strs--
Solarkraft, energie, photovoltaik, pv, solar, Windkraftanlage, Solaranlage

In [13]:
pd.DataFrame(dict(deal_id=134, deal_name='hello'), index=[0])

   deal_id deal_name
0      134     hello

In [22]:
def recommend(deal_id, deal_name, deal_type_name, target_company_id,
              target_name, target_description, target_revenue, target_ebitda,
              target_ebit, country_name, region_name, sector_name, strs):
    
    X = pd.DataFrame(dict(
       deal_id=[int(deal_id)],
       deal_name=[str(deal_name)],
       deal_type_name=[str(deal_type_name)],
       target_company_id=[int(target_company_id)],
       target_name=[str(target_name)],
       target_description=[target_description],
       target_revenue=[int(target_revenue)],
       target_ebitda=[int(target_ebitda)],
       target_ebit=[int(target_ebit)],
       country_name=[str(country_name)],
       region_name=[str(region_name)],
       sector_name=[str(sector_name)],
       strs=[str(strs)]),
                    index=[0])
    
    res = X['deal_id'][0]
    return dict(res=res)

In [23]:
recommend(1,1,1,1,1,1,1,1,1,1,1,1,1)

{'res': 1}

# UI

In [2]:
filepath2='./ui_dropdown_options.xlsx'

In [7]:
import pandas as pd
ui_options = pd.read_excel(filepath2)

In [27]:
ui_options.head()

,deal_type_name,country_name,region_name,sector_name
0,cat_tr__deal_type_name_DISTRESSED,cat_tr__country_name_Austria,cat_tr__region_name_Baden-Württemberg,cat_tr__sector_name_Agriculture
1,cat_tr__deal_type_name_MAJORITY,cat_tr__country_name_Belgium,cat_tr__region_name_Bavaria,cat_tr__sector_name_Automotive
2,cat_tr__deal_type_name_MINORITY,cat_tr__country_name_Bulgaria,cat_tr__region_name_Berlin,cat_tr__sector_name_Biotechnology & Life Sciences
3,cat_tr__deal_type_name_OTHER,cat_tr__country_name_Czechia,cat_tr__region_name_Brandenburg,cat_tr__sector_name_Chemicals
4,cat_tr__deal_type_name_VC,cat_tr__country_name_Egypt,cat_tr__region_name_Bremen,cat_tr__sector_name_Computer Hardware & Equipment

In [30]:
sectors=pd.DataFrame(ui_options['sector_name'].dropna().reset_index(drop=True))

sectors = sectors['sector_name'].apply(lambda x: x.replace("cat_tr__sector_name_", ""))

list(sectors)

['Agriculture',
 'Automotive',
 'Biotechnology & Life Sciences',
 'Chemicals',
 'Computer Hardware & Equipment',
 'Construction',
 'Consumer Goods & Apparel',
 'Defense',
 'Electronics',
 'Energy',
 'Financial Services',
 'Food & Beverages',
 'Food & Staples Retailing',
 'Health Care Equipment & Services',
 'IT services',
 'Industrial automation',
 'Industrial products and services',
 'Insurance',
 'Internet/ecommerce',
 'Leisure & consumer services',
 'Manufacturing (other)',
 'Media',
 'Mining',
 'Pharmaceuticals',
 'Professional Services (B2B)',
 'Real Estate',
 'Retailing',
 'Semiconductors & Semiconductor Equipment',
 'Software & Services',
 'Telecommunication Hardware',
 'Telecommunication Services',
 'Transportation',
 'Utilities']

In [29]:
regions=pd.DataFrame(ui_options['region_name'].dropna().reset_index(drop=True))

regions = regions['region_name'].apply(lambda x: x.replace("cat_tr__region_name_", ""))

list(regions)

['Baden-Württemberg',
 'Bavaria',
 'Berlin',
 'Brandenburg',
 'Bremen',
 'Hamburg',
 'Hesse',
 'Lower Saxony',
 'Mecklenburg-Vorpommern',
 'North Rhine-Westphalia',
 'Rhineland-Palatinate',
 'Saarland',
 'Saxony',
 'Saxony-Anhalt',
 'Schleswig-Holstein',
 'Thuringia']

In [25]:
deal_type=pd.DataFrame(ui_options['deal_type_name'].dropna().reset_index(drop=True))

deal_type = deal_type['deal_type_name'].apply(lambda x: x.replace("cat_tr__deal_type_name_", ""))

list(deal_type)

['DISTRESSED', 'MAJORITY', 'MINORITY', 'OTHER', 'VC']

In [28]:
countries=pd.DataFrame(ui_options['country_name'].dropna().reset_index(drop=True))

countries = countries['country_name'].apply(lambda x: x.replace("cat_tr__country_name_", ""))

list(countries)

['Austria',
 'Belgium',
 'Bulgaria',
 'Czechia',
 'Egypt',
 'Germany',
 'Italy',
 'Netherlands',
 'Poland',
 'Portugal',
 'Romania',
 'Slovakia',
 'Spain',
 'Switzerland',
 'United States of America']

In [5]:
import requests
import numpy as np
import pandas as pd
api_url = f'https://dealmatch-rec3-jlx73eg7oq-ew.a.run.app/recommend?deal_id=234&deal_name=Sonne%20134&deal_type_name=OTHER&target_company_id=123&target_name=Sonne&target_description=%E2%80%A2%09350MWp%20of%20solar%20photovoltaic%20project%20assets%20for%20sale%20in%20Greece%20%E2%80%A2%09Local%20DNI%20ca.%201550%20%E2%80%A2%09Land%20leases%2Ftitles%20and%20production%20licenses%20secured%2C%20Environmental%20%28EAL%29%2FConnection%2FConstruction%20deliverable%20at%20Closing%20%E2%80%A2%0911%20single%20project%20sites%20held%20by%20a%20small%20number%20of%20special%20purpose%20vehicles%20whose%20sole%20assets%20are%20the%20projects%20%E2%80%A2%09Transaction%20to%20be%20structured%20as%20share%20sale%20and%20purchase%20agreement%20of%20SPVs%20%E2%80%A2%09Projects%20delivered%20RTB%20with%20tariff%20award%20readiness%2C%20ready%20for%20auction%20participation%2Fprivate%20PPA%2Fmerchanting%20%E2%80%A2%09Transfer%20possible%20in%20early%20Q1%202021%20%E2%80%A2%09Off-taker%20arrangements%20%28including%20off-take%20pricing%29%20to%20be%20concluded%20by%20and%20for%20account%20of%20purchaser%20%E2%80%A2%09Seller%20ready%20to%20undertake%20local%20advisory%20services%20post-sale%2C%20subject%20to%20contract%3A%20EPC%20appointment%2C%20local%20authority%20advisory%2C%20off-take%20advisory%20etc.%20%20%E2%80%A2%09Consideration%20equivalent%20to%20MWp%20%E2%82%AC65%2C000%2C%20total%20consideration%20ca.%20%E2%82%AC23m&target_revenue=15&target_ebitda=3&target_ebit=3&country_name=Germany&region_name=Bavaria&sector_name=Energy&strs=Solarkraft%2C%20energie%2C%20photovoltaik%2C%20pv%2C%20solar%2C%20Windkraftanlage%2C%20Solaranlage'
response = requests.get(api_url).json()
response_df = pd.DataFrame(response, index=list(range(0, 10)))
response_df.index = np.arange(1, len(response_df)+1)
response_df

,name,match_probability,description,distance_target<=>investor,Rationale
1,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN

In [26]:
response.keys()

dict_keys(['name', 'match_probability', 'description', 'distance_target<=>investor', 'Rationale'])

In [28]:
pd.DataFrame(
    {'name': list(response['name'].values()),
     'match_probability': list(response['match_probability'].values()),
     'description': list(response['description'].values()),
     'distance_target<=>investor': list(response['distance_target<=>investor'].values()),
     'Rationale': list(response['Rationale'].values())})

,name,match_probability,description,distance_target<=>investor,Rationale
0,Copenhagen Infrastructure Partners,1,energie infrastruktur energie pumpen solar,0.505413,Fit gem. DealCircle Datenbank
1,Omnes Capital,1,medien software elektronik energie reinigung d...,0.505413,Fit gem. DealCircle Datenbank
2,aream Capital GmbH,1,energie solar,0.505413,Fit gem. DealCircle Datenbank
3,Blue Star Group GmbH,1,energie technologie solar,0.505413,Fit gem. DealCircle Datenbank
4,EB – Sustainable Investment Management GmbH,0,energie wasserkraftwerk solar,0.505413,Fit gem. DealCircle Datenbank
5,Vantage Infrastructure,0,infrastruktur,0.610076,Fit gem. DealCircle Datenbank
6,Whitehelm Capital,1,energie kraftwerk infrastruktur energie solar ...,0.610076,Fit gem. DealCircle Datenbank
7,EIG Global Energy Partners,0,infrastruktur energie agnostisch solar,0.610076,Fit gem. DealCircle Datenbank
8,Hasso Plattner Ventures Management GmbH,0,software elektronik energie reinigung dienstei...,0.904199,Fit gem. DealCircle Datenbank
9,Rbb Management AG,0,handel software elektronik energie reinigung d...,1.086982,Fit gem. DealCircle Datenbank
10,IFM Investors,0,infrastruktur agnostisch,1.110398,Fit gem. DealCircle Datenbank
11,Zouk Capital LLP,0,energie kraftwerk software infrastruktur energ...,1.297767,Fit gem. DealCircle Datenbank
12,Meridiam Infrastructure,1,energie kraftwerk infrastruktur,1.332051,Fit gem. DealCircle Datenbank
13,Blue Elephant Energy AG,0,infrastruktur solar windkraft,1.407268,Fit gem. DealCircle Datenbank
14,Abraxas Capital Management Limited,Manual Review Required,energie solar,0.505413,Fit gem. DealCircle Datenbank
15,Capital Stage AG - Encavis Asset Management AG,Manual Review Required,energie gesundheit biotechnologie solar energi...,0.505413,Fit gem. DealCircle Datenbank
16,GAM Capital,Manual Review Required,infrastruktur,0.610076,Fit gem. DealCircle Datenbank
17,Cubico Sustainable Investments Ltd.,Manual Review Required,solar,1.013617,Fit gem. DealCircle Datenbank
18,I-Source Gestion,Manual Review Required,software energie reinigung diensteistungen tel...,1.086839,Fit gem. DealCircle Datenbank
19,Spielmann Capital,Manual Review Required,immobilie infrastruktur,1.190476,Fit gem. DealCircle Datenbank
20,SUSI Partners AG,Manual Review Required,infrastruktur energie pumpen reinigung,1.239171,Fit gem. DealCircle Datenbank