<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import pandas as pd

In [2]:
filepath = '../DealMatch/targets_clean_test.xlsx'
df = pd.read_excel(filepath)

In [4]:
df.columns

Index(['deal_id', 'deal_name', 'deal_type_name', 'target_company_id',
       'target_name', 'target_description', 'target_revenue', 'target_ebitda',
       'target_ebit', 'country_name', 'region_name', 'sector_name', 'strs'],
      dtype='object')

In [6]:
df.head()

,deal_id,deal_name,deal_type_name,target_company_id,target_name,target_description,target_revenue,target_ebitda,target_ebit,country_name,region_name,sector_name,strs
0,194,1303 Sonne,OTHER,825,Sonne,•\t350MWp of solar photovoltaic project assets...,15,3,3,Germany,Bavaria,Energy,"Solarkraft, energie, photovoltaik, pv, solar, ..."

In [18]:
df['deal_id'][0]

194

In [19]:
pd.DataFrame(dict(df))

,deal_id,deal_name,deal_type_name,target_company_id,target_name,target_description,target_revenue,target_ebitda,target_ebit,country_name,region_name,sector_name,strs
0,194,1303 Sonne,OTHER,825,Sonne,•\t350MWp of solar photovoltaic project assets...,15,3,3,Germany,Bavaria,Energy,"Solarkraft, energie, photovoltaik, pv, solar, ..."

In [16]:
for x in df.columns:
    print(f'--{x}--')
    print(df[x][0])

--deal_id--
194
--deal_name--
1303 Sonne
--deal_type_name--
OTHER
--target_company_id--
825
--target_name--
Sonne
--target_description--
•	350MWp of solar photovoltaic project assets for sale in Greece
•	Local DNI ca. 1550
•	Land leases/titles and production licenses secured, Environmental (EAL)/Connection/Construction deliverable at Closing
•	11 single project sites held by a small number of special purpose vehicles whose sole assets are the projects
•	Transaction to be structured as share sale and purchase agreement of SPVs
•	Projects delivered RTB with tariff award readiness, ready for auction participation/private PPA/merchanting
•	Transfer possible in early Q1 2021
•	Off-taker arrangements (including off-take pricing) to be concluded by and for account of purchaser
•	Seller ready to undertake local advisory services post-sale, subject to contract: EPC appointment, local authority advisory, off-take advisory etc.
•	Consideration equivalent to MWp €65,000, total consideration ca. €23m
--target_revenue--
15
--target_ebitda--
3
--target_ebit--
3
--country_name--
Germany
--region_name--
Bavaria
--sector_name--
Energy
--strs--
Solarkraft, energie, photovoltaik, pv, solar, Windkraftanlage, Solaranlage

In [13]:
pd.DataFrame(dict(deal_id=134, deal_name='hello'), index=[0])

   deal_id deal_name
0      134     hello

In [22]:
def recommend(deal_id, deal_name, deal_type_name, target_company_id,
              target_name, target_description, target_revenue, target_ebitda,
              target_ebit, country_name, region_name, sector_name, strs):
    
    X = pd.DataFrame(dict(
       deal_id=[int(deal_id)],
       deal_name=[str(deal_name)],
       deal_type_name=[str(deal_type_name)],
       target_company_id=[int(target_company_id)],
       target_name=[str(target_name)],
       target_description=[target_description],
       target_revenue=[int(target_revenue)],
       target_ebitda=[int(target_ebitda)],
       target_ebit=[int(target_ebit)],
       country_name=[str(country_name)],
       region_name=[str(region_name)],
       sector_name=[str(sector_name)],
       strs=[str(strs)]),
                    index=[0])
    
    res = X['deal_id'][0]
    return dict(res=res)

In [23]:
recommend(1,1,1,1,1,1,1,1,1,1,1,1,1)

{'res': 1}

In [ ]:

# #    pipeline = joblib.load('./model_supervised_MLP1.joblib')

# #    results = pipeline.predict(X)