<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [16]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [17]:
import pandas as pd
import numpy as np

In [18]:
file_path1= '/Users/sophie/code/DealMatch/DealMatch/raw_data/encoded_investors_regions.xlsx'
file_path2= '/Users/sophie/code/DealMatch/DealMatch/raw_data/deals_final_2.xlsx'
file_path3= '/Users/sophie/code/DealMatch/DealMatch/raw_data/sectors_encoding_no_exclude_clean.xlsx'
file_path4= '/Users/sophie/code/DealMatch/DealMatch/raw_data/invest_profile_transaction_no_exclude_final.xlsx'

In [19]:
investors_regions_df = pd.read_excel(file_path1)
investors_regions_df.head()

,Unnamed: 0,id,name,company_category_id,company_state_id,fees_rate,inroad,exit_oriented,management_takeover,seriousness,...,investment_Northern_Europe,investment_Polynesia,investment_South_America,investment_South-eastern_Asia,investment_Southern_Africa,investment_Southern_Asia,investment_Southern_Europe,investment_Western_Africa,investment_Western_Asia,investment_Western_Europe
0,0,1,Greencoat Capital,1,0,0.02,0.0,1.0,0.0,2.0,...,1,0,0,0,0,0,1,0,0,1
1,1,5,Daniel Vogel,1,0,0.02,4.0,1.0,0.0,2.0,...,0,0,0,0,0,0,0,0,0,1
2,2,7,AL Capital Holding GmbH & Co. KG,1,0,0.02,0.0,1.0,0.0,2.0,...,0,0,0,0,0,0,0,0,0,1
3,3,28,Piccard Capital Partner,1,0,0.02,0.0,1.0,0.0,2.0,...,1,0,0,0,0,0,1,0,1,1
4,4,30,Quandriga GmbH,1,0,NaN,0.0,1.0,0.0,2.0,...,0,0,0,0,0,0,0,0,0,1

In [21]:
deals_df = pd.read_excel(file_path2)
deals_df.head()

,Unnamed: 0,deal_id,result,investor_id,is_lost,target_revenue,target_ebitda,target_ebit,DISTRESSED,MAJORITY,...,Pharmaceuticals,Professional Services (B2B),Real Estate,Retailing,Semiconductors & Semiconductor Equipment,Software & Services,Telecommunication Hardware,Telecommunication Services,Transportation,Utilities
0,0,3,0,1,0,-0.670000,-1.344,-1.400000,0,1,...,0,0,0,0,0,0,0,0,0,0
1,1,6,0,7,0,4.745455,4.080,4.250000,0,1,...,0,0,0,0,0,0,0,0,0,0
2,2,7,0,7,0,-0.209091,0.800,0.833333,0,1,...,0,0,0,0,0,0,0,0,0,0
3,3,8,0,7,1,4.954545,3.360,2.250000,0,1,...,0,1,0,0,0,0,0,0,1,0
4,4,9,1,7,1,-0.118182,0.240,0.250000,0,1,...,0,0,0,0,0,0,0,0,0,0