In [1]:
import numpy as np
import pandas as pd

In [26]:
pred = pd.read_csv('pred_df',index_col=0)

In [27]:
pred

,num_tr__target_ebit,num_tr__target_ebitda,num_tr__target_revenue,cat_tr__deal_type_name_DISTRESSED,cat_tr__deal_type_name_MAJORITY,cat_tr__deal_type_name_MINORITY,cat_tr__deal_type_name_OTHER,cat_tr__deal_type_name_VC,cat_tr__deal_type_name_no_region,cat_tr__country_name_Austria,...,investment_Northern_Europe,investment_Polynesia,investment_South_America,investment_South-eastern_Asia,investment_Southern_Africa,investment_Southern_Asia,investment_Southern_Europe,investment_Western_Africa,investment_Western_Asia,investment_Western_Europe
0,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
2,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,1,0,0,1
4,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
6,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,0,1
8,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
9,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,0,1
11,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1,0,0,0,0,0,1,0,1,1
13,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
14,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
16,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
17,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,0,1
18,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
19,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
20,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
21,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1,0,0,0,0,0,1,0,1,1
22,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
23,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1,1,1,1,1,1,1,1,1,1
24,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
25,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
26,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
28,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
29,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
30,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1,0,0,0,0,0,1,0,1,1
32,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
33,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [28]:
import csv

with open('probs.csv', newline='') as f:
    reader = csv.reader(f)
    probs = list(reader)

print(probs)

[['6.459263569941654515e-01'], ['6.259849585310672815e-01'], ['5.190824046623300214e-01'], ['2.743824563427254004e-01'], ['6.005388249180320104e-01'], ['1.491109904513202578e-01'], ['2.785391550761917578e-01'], ['4.048060791120994262e-01'], ['2.883159268243370987e-01'], ['3.899721201679767213e-01'], ['4.402149790575174415e-01'], ['2.080084767161556880e-01'], ['7.689592467815835608e-01'], ['3.330223383788665781e-01'], ['4.246554462648085559e-01'], ['1.937237008302630237e-01'], ['2.021216123749930704e-01'], ['6.195380493085231866e-01'], ['3.799507250960985627e-01'], ['3.559209775470231207e-01'], ['7.775357196224084999e-02'], ['9.569880460763907637e-02'], ['3.399646737068892088e-01'], ['1.841009508480487555e-01'], ['9.278415113438448492e-02']]

In [35]:
custom_threshold=0.1273888936253839

In [38]:
probs > custom_threshold
#.astype(int)

TypeError: '>' not supported between instances of 'list' and 'float'

In [44]:
flat_probs = [item for sublist in data for item in sublist]

In [90]:
lst = []
for prob in flat_probs:
    lst.append(int(float(prob)>custom_threshold))

In [91]:
lst = []
[lst.append(int(float(prob)>custom_threshold)) for prob in flat_probs]

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [63]:
lst

['pawel',
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0]

In [55]:
pred['probs'] = lst

In [56]:
pred

,num_tr__target_ebit,num_tr__target_ebitda,num_tr__target_revenue,cat_tr__deal_type_name_DISTRESSED,cat_tr__deal_type_name_MAJORITY,cat_tr__deal_type_name_MINORITY,cat_tr__deal_type_name_OTHER,cat_tr__deal_type_name_VC,cat_tr__deal_type_name_no_region,cat_tr__country_name_Austria,...,investment_Polynesia,investment_South_America,investment_South-eastern_Asia,investment_Southern_Africa,investment_Southern_Asia,investment_Southern_Europe,investment_Western_Africa,investment_Western_Asia,investment_Western_Europe,probs
0,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1,1
2,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,1,0,0,1,1
4,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1,1
6,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1,1
8,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1,1
9,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1,1
11,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,1,0,1,1,1
13,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1,1
14,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1,1
16,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1,1
17,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1,1
18,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1,1
19,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1,1
20,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1,1
21,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,1,0,1,1,1
22,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1,1
23,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1,1,1,1,1,1,1,1,1,1
24,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1,1
25,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1,1
26,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1,1
28,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1,0
29,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1,0
30,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,1,0,1,1,1
32,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
33,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [64]:
df_investors = pd.read_csv('investors_output.csv', index_col=0)

In [65]:
df_investors

,name,description,distance_investor<=>investor,distance_target<=>target,distance_target<=>investor
0,Augur Capital AG,solaranlage medizintechnik bildung umschulunge...,0.000000e+00,0.272535,0.272535
1,Soleal Unternehmerkapital AG,energie logistik logistik möbel ecommerce kons...,0.000000e+00,0.272535,0.272535
2,AEM Unternehmerkapital GmbH,energie medizintechnik möbel handel maschinenb...,0.000000e+00,0.272535,0.272535
3,Perpetua Holding GmbH,landwirtschaft holz holz solar holz agnostisch...,0.000000e+00,0.272535,0.272535
4,Evolutiq GmbH,möbel diy ecommerce konsumgüter b2c handel mas...,0.000000e+00,0.272535,0.272535
5,Fields Group,solaranlage medizintechnik bildung it dienstle...,0.000000e+00,0.272535,0.272535
6,SME Industriebeteiligungen GmbH,solaranlage medizintechnik möbel handel chemie...,0.000000e+00,0.272535,0.272535
7,OMOS Equity Partners GmbH,bildung automobilkomponenten b2b vermittlung g...,0.000000e+00,0.272535,0.272535
8,WKM Unternehmernachfolge GmbH & Co. KG (WKM Mi...,Investor not in the list,0.000000e+00,0.272535,0.272535
9,Equimax AG,solaranlage haustechnik möbel maschinenbau aut...,0.000000e+00,0.272535,0.272535
10,Soleal Unternehmerkapital AG,energie logistik logistik möbel ecommerce kons...,1.490116e-08,0.272535,0.272535
11,Perpetua Holding GmbH,landwirtschaft holz holz solar holz agnostisch...,1.825012e-08,0.272535,0.272535
12,OMOS Equity Partners GmbH,bildung automobilkomponenten b2b vermittlung g...,2.107342e-08,0.272535,0.272535
13,Fields Group,solaranlage medizintechnik bildung it dienstle...,2.787752e-08,0.272535,0.272535
14,Augur Capital AG,solaranlage medizintechnik bildung umschulunge...,2.787752e-08,0.272535,0.272535
15,SME Industriebeteiligungen GmbH,solaranlage medizintechnik möbel handel chemie...,3.161014e-08,0.272535,0.272535
16,CAPCELLENCE Mittelstandspartner GmbH,bildung maschinenbau software b2b elektronik w...,7.863044e-01,0.272535,1.058839
17,Markus Sax,ecommerce holz holz holz holz holz hartholz ho...,7.913142e-01,0.272535,1.063849
18,IK Investment Partners GmbH,software gesundheit konsum steuerung bergbau s...,8.001273e-01,0.272535,1.072662
19,Rieker Finance Group Holding AG,plattform marketing software steuerung bergbau...,8.091808e-01,0.272535,1.081716
20,Schumann Rahn & Partner,holz holz holz fenster bauzulieferer,8.477603e-01,0.272535,1.120295
21,Family Trust Investor FTI GmbH,solaranlage bildung sprachschule it dienstleis...,8.687708e-01,0.272535,1.141306
22,MBB SE,logistik textil automobil software chemie bekl...,8.780081e-01,0.272535,1.150543
23,Accursia Capital GmbH,logistik handel maschinenbau handel automobil ...,9.052402e-01,0.272535,1.177775
24,Equimax AG,solaranlage haustechnik möbel maschinenbau aut...,9.116070e-01,0.272535,1.184142
25,AEM Unternehmerkapital GmbH,energie medizintechnik möbel handel maschinenb...,9.116070e-01,0.272535,1.184142
26,4elements holding GmbH,logistik reparatur logistik automobil renovier...,9.247711e-01,0.272535,1.197306
27,Ackermans & van Haaren NV,maschinenbau medien automatisierung drehmaschi...,9.286048e-01,0.272535,1.201140
28,Haspa BGM Beteiligungsgesellschaft für den Mit...,solaranlage medizintechnik logistik logistik m...,9.372853e-01,0.272535,1.209820
29,Michael von Laer,handwerk holz bautenschutz diensteistungen lan...,9.436919e-01,0.272535,1.216227
30,Legian Investment Partner AG,solaranlage handel textil gesundheit bekleidun...,9.446016e-01,0.272535,1.217137
31,Allistro GmbH,solaranlage medizintechnik maschinenbau automa...,9.489615e-01,0.272535,1.221497
32,Inven Capital,energie logistik kundensystem logistik,9.539080e-01,0.272535,1.226443
33,Markus Sax,ecommerce holz holz holz holz holz hartholz ho...,9.590108e-01,0.272535,1.231546
34,Tequity Managementgesellschaft mbH,it dienstleistung handel automobil chemie phar...,9.594011e-01,0.272535,1.231936
35,Sebastian Winkler (SWIG),drehmaschine werkzeug gewindeteile bohren galv...,9.624688e-01,0.272535,1.235004
36,PINOVA Capital GmbH,medizintechnik handel maschinenbau software ch...,9.719495e-01,0.272535,1.244484
37,C2H Equity a.s.,mode tech ventures,9.766174e-01,0.272535,1.249152
38,Active Capital Company B.V.,maschinenbau automatisierung baugruppe logisti...,9.804860e-01,0.272535,1.253021
39,Allistro GmbH,solaranlage medizintechnik maschinenbau automa...,1.005582e+00,0.272535,1.278117
40,PINOVA Capital GmbH,medizintechnik handel maschinenbau software ch...,1.016751e+00,0.272535,1.289286
41,Kettler Alu-Rad GmbH,handel roller handel,1.030560e+00,0.272535,1.303095
42,Raba Burim MBI,möbel möbelhersteller handel,1.033903e+00,0.272535,1.306438

In [66]:
investor_profiles = pd.read_csv('investor_profiles_to_merge.csv', index_col=0)
investor_profiles.head()

,name,investor_id,exit_oriented_x,management_takeover_x,agnostic_x,no_fee,pays_1,pays_2,pays_3,fee_sharing_10,...,investment_Northern_Europe,investment_Polynesia,investment_South_America,investment_South-eastern_Asia,investment_Southern_Africa,investment_Southern_Asia,investment_Southern_Europe,investment_Western_Africa,investment_Western_Asia,investment_Western_Europe
0,Greencoat Capital,1,1,0,0,0,0,1,0,0,...,1,0,0,0,0,0,1,0,0,1
5,AL Capital Holding GmbH & Co. KG,7,1,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
55,3TS Capital Partners,31,1,0,1,1,0,0,0,0,...,1,0,0,0,0,0,1,0,1,1
66,83North Ltd.,41,1,0,0,1,0,0,0,0,...,1,0,0,0,0,0,1,0,1,1
68,Earlybird Venture Capital GmbH & Co KG,43,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,1,0,1,1

In [67]:
investor_profiles.columns

Index(['name', 'investor_id', 'exit_oriented_x', 'management_takeover_x',
       'agnostic_x', 'no_fee', 'pays_1', 'pays_2', 'pays_3', 'fee_sharing_10',
       ...
       'investment_Northern_Europe', 'investment_Polynesia',
       'investment_South_America', 'investment_South-eastern_Asia',
       'investment_Southern_Africa', 'investment_Southern_Asia',
       'investment_Southern_Europe', 'investment_Western_Africa',
       'investment_Western_Asia', 'investment_Western_Europe'],
      dtype='object', length=102)

In [68]:
df_investors.columns

Index(['name', 'description', 'distance_investor<=>investor',
       'distance_target<=>target', 'distance_target<=>investor'],
      dtype='object')

In [69]:
investor_profiles['name']

0                             Greencoat Capital
5              AL Capital Holding GmbH & Co. KG
55                         3TS Capital Partners
66                                 83North Ltd.
68       Earlybird Venture Capital GmbH & Co KG
                          ...
22746                           Moment Ventures
22748                            Volta Ventures
22751                             Founders Fund
22752                        Schauenburg Gruppe
22754                        Blockchain Capital
Name: name, Length: 1576, dtype: object

In [71]:
df_investors['name'].isnin(investor_profiles['name'])

AttributeError: 'Series' object has no attribute 'isnin'

In [152]:
missing_investors = []
for name in df_investors['name']:
    if ~pred['name'].str.contains(name).any():
        missing_investors.append(name)

KeyError: 'name'

In [151]:
missing_investors

['SME Industriebeteiligungen GmbH',
 'WKM Unternehmernachfolge GmbH & Co. KG (WKM Mittelstand)',
 'SME Industriebeteiligungen GmbH',
 'Markus Sax',
 'Schumann Rahn & Partner',
 'Michael von Laer',
 'Markus Sax',
 'Sebastian Winkler (SWIG)',
 'C2H Equity a.s.',
 'Raba Burim MBI']

In [122]:
df_final = pd.read_csv('pred_df_names',index_col=0)
df_final

,num_tr__target_ebit,num_tr__target_ebitda,num_tr__target_revenue,cat_tr__deal_type_name_DISTRESSED,cat_tr__deal_type_name_MAJORITY,cat_tr__deal_type_name_MINORITY,cat_tr__deal_type_name_OTHER,cat_tr__deal_type_name_VC,cat_tr__deal_type_name_no_region,cat_tr__country_name_Austria,...,investment_Northern_Europe,investment_Polynesia,investment_South_America,investment_South-eastern_Asia,investment_Southern_Africa,investment_Southern_Asia,investment_Southern_Europe,investment_Western_Africa,investment_Western_Asia,investment_Western_Europe
0,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
2,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,1,0,0,1
4,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
6,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,0,1
8,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
9,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,0,1
11,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1,0,0,0,0,0,1,0,1,1
13,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
14,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
16,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
17,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,0,1
18,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
19,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
20,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
21,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1,0,0,0,0,0,1,0,1,1
22,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
23,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1,1,1,1,1,1,1,1,1,1
24,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
25,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
26,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
28,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
29,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
30,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1,0,0,0,0,0,1,0,1,1
32,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
33,2.5,2.336449,1.073225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [123]:
df_final['investor_classification'] = lst

In [124]:
df_final1 = df_final[['name','investor_classification']]
df_final1

                                                 name  investor_classification
0                                    Augur Capital AG                        1
2                        Soleal Unternehmerkapital AG                        1
4                         AEM Unternehmerkapital GmbH                        1
6                               Perpetua Holding GmbH                        1
8                                       Evolutiq GmbH                        1
9                                        Fields Group                        1
11                          OMOS Equity Partners GmbH                        1
13  WKM Unternehmernachfolge GmbH & Co. KG (WKM Mi...                        1
14                                         Equimax AG                        1
16               CAPCELLENCE Mittelstandspartner GmbH                        1
17                        IK Investment Partners GmbH                        1
18                    Rieker Finance Group Holding AG                        1
19                     Family Trust Investor FTI GmbH                        1
20                                             MBB SE                        1
21                              Accursia Capital GmbH                        1
22                             4elements holding GmbH                        1
23                          Ackermans & van Haaren NV                        1
24  Haspa BGM Beteiligungsgesellschaft für den Mit...                        1
25                       Legian Investment Partner AG                        1
26                                      Allistro GmbH                        1
28                                      Inven Capital                        0
29                 Tequity Managementgesellschaft mbH                        0
30                                PINOVA Capital GmbH                        1
32                        Active Capital Company B.V.                        1
33                               Kettler Alu-Rad GmbH                        0

In [97]:
missing_investors = []
for name in df_investors['name']:
    if ~df_final1['name'].str.contains(name).any():
        missing_investors.append(name)

/tmp/ipykernel_4257/4218425949.py:3: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  if ~df_final1['name'].str.contains(name).any():

In [125]:
df_mi = pd.DataFrame({'name':missing_investors,'investor_classification':len(missing_investors)*[np.nan]})

In [101]:
len(missing_investors)*['NA']

['NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA']

In [147]:
pd_final2 = pd.concat([df_final1,df_mi])
pd_final2.reset_index(inplace=True)
pd_final2.drop(columns='index',inplace=True)
df_investors1 = df_investors.drop_duplicates(subset='name', keep="first")
pd_final3 = pd_final2.merge(df_investors1,on='name',how='left').drop(columns=['distance_investor<=>investor','distance_target<=>target'])

In [149]:
pd_final3['Rationale'] = 'Fit gem. DealCircle Datenbank'

In [150]:
pd_final3

,name,investor_classification,description,distance_target<=>investor,Rationale
0,Augur Capital AG,1.0,solaranlage medizintechnik bildung umschulunge...,0.272535,Fit gem. DealCircle Datenbank
1,Soleal Unternehmerkapital AG,1.0,energie logistik logistik möbel ecommerce kons...,0.272535,Fit gem. DealCircle Datenbank
2,AEM Unternehmerkapital GmbH,1.0,energie medizintechnik möbel handel maschinenb...,0.272535,Fit gem. DealCircle Datenbank
3,Perpetua Holding GmbH,1.0,landwirtschaft holz holz solar holz agnostisch...,0.272535,Fit gem. DealCircle Datenbank
4,Evolutiq GmbH,1.0,möbel diy ecommerce konsumgüter b2c handel mas...,0.272535,Fit gem. DealCircle Datenbank
5,Fields Group,1.0,solaranlage medizintechnik bildung it dienstle...,0.272535,Fit gem. DealCircle Datenbank
6,OMOS Equity Partners GmbH,1.0,bildung automobilkomponenten b2b vermittlung g...,0.272535,Fit gem. DealCircle Datenbank
7,WKM Unternehmernachfolge GmbH & Co. KG (WKM Mi...,1.0,Investor not in the list,0.272535,Fit gem. DealCircle Datenbank
8,Equimax AG,1.0,solaranlage haustechnik möbel maschinenbau aut...,0.272535,Fit gem. DealCircle Datenbank
9,CAPCELLENCE Mittelstandspartner GmbH,1.0,bildung maschinenbau software b2b elektronik w...,1.058839,Fit gem. DealCircle Datenbank
10,IK Investment Partners GmbH,1.0,software gesundheit konsum steuerung bergbau s...,1.072662,Fit gem. DealCircle Datenbank
11,Rieker Finance Group Holding AG,1.0,plattform marketing software steuerung bergbau...,1.081716,Fit gem. DealCircle Datenbank
12,Family Trust Investor FTI GmbH,1.0,solaranlage bildung sprachschule it dienstleis...,1.141306,Fit gem. DealCircle Datenbank
13,MBB SE,1.0,logistik textil automobil software chemie bekl...,1.150543,Fit gem. DealCircle Datenbank
14,Accursia Capital GmbH,1.0,logistik handel maschinenbau handel automobil ...,1.177775,Fit gem. DealCircle Datenbank
15,4elements holding GmbH,1.0,logistik reparatur logistik automobil renovier...,1.197306,Fit gem. DealCircle Datenbank
16,Ackermans & van Haaren NV,1.0,maschinenbau medien automatisierung drehmaschi...,1.201140,Fit gem. DealCircle Datenbank
17,Haspa BGM Beteiligungsgesellschaft für den Mit...,1.0,solaranlage medizintechnik logistik logistik m...,1.209820,Fit gem. DealCircle Datenbank
18,Legian Investment Partner AG,1.0,solaranlage handel textil gesundheit bekleidun...,1.217137,Fit gem. DealCircle Datenbank
19,Allistro GmbH,1.0,solaranlage medizintechnik maschinenbau automa...,1.221497,Fit gem. DealCircle Datenbank
20,Inven Capital,0.0,energie logistik kundensystem logistik,1.226443,Fit gem. DealCircle Datenbank
21,Tequity Managementgesellschaft mbH,0.0,it dienstleistung handel automobil chemie phar...,1.231936,Fit gem. DealCircle Datenbank
22,PINOVA Capital GmbH,1.0,medizintechnik handel maschinenbau software ch...,1.244484,Fit gem. DealCircle Datenbank
23,Active Capital Company B.V.,1.0,maschinenbau automatisierung baugruppe logisti...,1.253021,Fit gem. DealCircle Datenbank
24,Kettler Alu-Rad GmbH,0.0,handel roller handel,1.303095,Fit gem. DealCircle Datenbank
25,SME Industriebeteiligungen GmbH,NaN,solaranlage medizintechnik möbel handel chemie...,0.272535,Fit gem. DealCircle Datenbank
26,WKM Unternehmernachfolge GmbH & Co. KG (WKM Mi...,NaN,Investor not in the list,0.272535,Fit gem. DealCircle Datenbank
27,SME Industriebeteiligungen GmbH,NaN,solaranlage medizintechnik möbel handel chemie...,0.272535,Fit gem. DealCircle Datenbank
28,Markus Sax,NaN,ecommerce holz holz holz holz holz hartholz ho...,1.063849,Fit gem. DealCircle Datenbank
29,Schumann Rahn & Partner,NaN,holz holz holz fenster bauzulieferer,1.120295,Fit gem. DealCircle Datenbank
30,Michael von Laer,NaN,handwerk holz bautenschutz diensteistungen lan...,1.216227,Fit gem. DealCircle Datenbank
31,Markus Sax,NaN,ecommerce holz holz holz holz holz hartholz ho...,1.063849,Fit gem. DealCircle Datenbank
32,Sebastian Winkler (SWIG),NaN,drehmaschine werkzeug gewindeteile bohren galv...,1.235004,Fit gem. DealCircle Datenbank
33,C2H Equity a.s.,NaN,mode tech ventures,1.249152,Fit gem. DealCircle Datenbank
34,Raba Burim MBI,NaN,möbel möbelhersteller handel,1.306438,Fit gem. DealCircle Datenbank

In [153]:
investors = pd.read_excel('../raw_data/invest_profile_keywords.xlsx')

In [157]:
investors[investors['name']=='Schumann Rahn & Partner']

,Unnamed: 0,id,name,description,short_description,products_description,company_category_id,number_of_employees,ebit,ebitda,...,created_at.2,updated_at.2,deleted_at.2,is_deleted.2,id.3,name_de,created_at.3,updated_at.3,deleted_at.3,is_deleted.3
21432,21432,10233,Schumann Rahn & Partner,Interessiert an Buy and Build,NaN,NaN,1,0.0,NaN,NaN,...,2022-01-25 16:09:42,2022-01-25 16:09:42,NaN,0.0,1390.0,holzbau,2021-10-14 14:04:44,2021-10-14 14:04:44,NaN,0.0
21433,21433,10233,Schumann Rahn & Partner,Interessiert an Buy and Build,NaN,NaN,1,0.0,NaN,NaN,...,2022-01-25 16:09:42,2022-01-25 16:09:42,NaN,0.0,1963.0,holz,2021-10-14 14:11:32,2021-10-14 14:11:32,NaN,0.0
21434,21434,10233,Schumann Rahn & Partner,Interessiert an Buy and Build,NaN,NaN,1,0.0,NaN,NaN,...,2022-01-25 16:09:42,2022-01-25 16:09:42,NaN,0.0,2019.0,holzindustrie,2021-10-14 14:13:42,2021-10-14 14:13:42,NaN,0.0
21435,21435,10233,Schumann Rahn & Partner,Interessiert an Buy and Build,NaN,NaN,1,0.0,NaN,NaN,...,2022-01-25 16:09:42,2022-01-25 16:09:42,NaN,0.0,3476.0,fensterbau,2021-10-14 14:48:00,2021-10-14 14:48:00,NaN,0.0
21436,21436,10233,Schumann Rahn & Partner,Interessiert an Buy and Build,NaN,NaN,1,0.0,NaN,NaN,...,2022-01-25 16:09:42,2022-01-25 16:09:42,NaN,0.0,5349.0,bauzulieferer,2021-10-19 17:33:23,2021-10-19 17:33:23,NaN,0.0

In [158]:
investors_clean = pd.read_csv('investors.csv')

In [161]:
investors_clean[investors_clean['name']=='Schumann Rahn & Partner']

,Unnamed: 0,name,name_de
2568,2568,Schumann Rahn & Partner,holz holz holz fenster bauzulieferer

In [ ]:
investors['name_de'] = investors['name_de'].replace(dict(zip(key_match.name_de,key_match.new_keyword)))

In [ ]:
    investors['name_de'] = investors['name_de'].replace(dict(zip(key_match.name_de,key_match.new_keyword)))
    investors_small = investors[['name','name_de']]
    investors_concat = investors_small.astype(str).groupby('name').agg({'name_de':', '.join})

    investors_concat1 = investors_concat['name_de'].str.replace('nan','').reset_index()
    investors_concat1['name_de'] = investors_concat1['name_de'].apply(lambda x: remove_punctuations(x))
    investors_concat1['name_de'].replace(r'^\s*$',np.nan,regex=True, inplace=True)
    investors_concat1 = investors_concat1.dropna().reset_index()
    investors_concat1.drop(columns='index', inplace=True)
    investors_concat1['name_de'] = investors_concat1['name_de'].apply(lambda x: x.lower())

    stop_words = set(stopwords.words('german'))

    for name_de in investors_concat1['name_de']:
        word_tokens = word_tokenize(name_de)
        name_de = [w for w in word_tokens if not w in stop_words]